@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@1,300;1,400&display=swap');

* {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  color: #f2f2f2;
  user-select: none;
}
body{
  background-image: url('images/background.jpg');
}
.navbar {
  padding: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 60rem;
  margin: 1rem auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar__title{
  flex: 2;
}
.navbar__link{
  margin-left: 1rem;
  text-decoration: none;
  padding: 0.375rem;
}
.navbar__link:hover{
  color: #751d1d;
}
.navbar__link{
  background: #751d1d;
  border-radius: 0.5rem;
}
.navbar__link:hover{
  background: pink;
  color: black;
}
.content{
  max-width: 60rem;
  margin: 1rem auto;
  padding: 1.25rem;
}
.shop{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.shop__list{
  max-height: 72vh;
  width: 30vw;
  background-color: rgb(146, 143, 143);
  padding: 0.625rem;
  border: 0.125rem solid #751d1d;
  border-radius: 0.5rem;
  overflow: auto;
}
.shop__list::-webkit-scrollbar {
  width: 0.625rem;
}
.shop__list::-webkit-scrollbar-thumb {
  border-radius: 0.625rem;
  background-color: #737272;
}
.shop__list-li{
  cursor: pointer;
  display: block;
  color: #333;
  margin-top: 0.3125rem;
  border-radius: 0.125rem;
}
.shop__list-li:nth-child(2n) {
  background-color: rgb(177, 125, 125);
}
.shop__list-li:hover{
  background-color: #f2f2f2;
}